*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(0, 0, 16);
    color: rgb(251, 251, 242);
    line-height: 1.6;
}
.slider{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
.slide.current{
    opacity: 1;
}
.slide .content{
    position: absolute;
    bottom: 70px;
    left:-600px;
    opacity:0;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.498);
    color: black;
    font-weight: 500;
    padding: 30px;
}
.slide .content h1{
    margin-bottom: 7px;
}
.slide.current .content{
    opacity:1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
}
.buttons button#next{
    position: absolute;
    top: 50%;
    right: 15px;
}
.buttons button#prev{
    position: absolute;
    top: 50%;
    left: 15px;
}
.buttons button{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}
.buttons button:hover{
    background-color: white;
    color:rgb(12, 0, 0);
}
/*background image*/
.slide:first-child{
    background: url('sunrise.jpg') no-repeat center center/cover;
}
.slide:nth-child(2){
    background: url('alone2.jpeg') no-repeat center top/cover;
}
.slide:nth-child(3){
    background: url('food1.jpg') no-repeat center top/cover;
}
.slide:nth-child(4){
    background: url('venice.jpg') no-repeat center top/cover;
}
.slide:nth-child(5){
    background: url('ganga-arati.jpg') no-repeat center top/cover;
}
.slide:nth-child(6){
    background: url('victoria.jpeg') no-repeat center top/cover;
}